.navbar{
  width:100%;
  padding:18px 50px;
  background:rgba(15,23,42,.55);
  backdrop-filter:blur(16px);
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
}

.logo{
  color:white;
  text-decoration:none;
  font-size:30px;
  font-weight:900;
}

.menu{
  display:flex;
  gap:14px;
}

.menu a{
  color:white;
  text-decoration:none;
  font-size:17px;
  font-weight:800;
  padding:10px 14px;
  border-radius:30px;
}

.menu a:hover{
  background:#22c55e;
}

.hamburger{
  display:none;
}

@media(max-width:900px){
  .navbar{
    padding:16px 20px;
  }

  .hamburger{
    display:block;
    background:#22c55e;
    color:white;
    border:0;
    font-size:30px;
    width:50px;
    height:50px;
    border-radius:14px;
  }

  .menu{
    display:none;
    position:absolute;
    top:78px;
    left:18px;
    right:18px;
    background:rgba(15,23,42,.92);
    backdrop-filter:blur(18px);
    flex-direction:column;
    padding:18px;
    border-radius:22px;
  }

  .menu.active{
    display:flex;
  }

  .menu a{
    text-align:center;
    background:rgba(255,255,255,.08);
  }
}
